<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="/manifest.json">

    <%_ if (page.title) { %>
        <title><%= page.title %> - <%= config.title %></title>
        <meta property="og:title" content="<%= page.title %> - <%= config.title %>" />
        <meta name="twitter:title" content="<%= page.title %> - <%= config.title %>">
    <%_ } %>
    <%_ if (!page.title) { %>
        <title><%= config.title %></title>
        <meta property="og:title" content="<%= config.title %>" />
        <meta name="twitter:title" content="<%= config.title %>">
    <% } %>
    
    <%_ if (page.description) { %>
        <meta name="description" content="<%= page.description %>">
        <meta property="og:description" content="<%= page.description %>" />
        <meta name="twitter:description" content="<%= page.description %>">
    <%_ } %>
    <%_ if (!page.description) { %>
        <meta name="description" content="A blog about my journey as a web developer.">
        <meta property="og:description" content="A blog about my journey as a web developer." />
        <meta name="twitter:description" content="A blog about my journey as a web developer.">
    <%_ } %>

    <%_ if (page.thumbnail) { %>
        <meta property="og:image" content="<%= page.thumbnail %>" />
        <meta name="twitter:image" content="<%= page.thumbnail %>">
    <%_ } %>
    <%_ if (!page.thumbnail) { %>
        <meta property="og:image" content="/images/profile.png" />
        <meta name="twitter:image" content="/images/profile.png">
    <%_ } %>

    <meta name="keywords" content="Jeremy, Shaw, Jeremy Shaw, blog, development, php, javascript, js, <%= page.keywords %>">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= page.permalink %>" />
    <meta property="og:site_name" content="Jeremy Shaw Blog" />

    <!-- Geo Tags -->
    <meta name="geo.position" content="37.8109; 175.7765">
    <meta name="geo.placename" content="Matamata, New Zealand">
    <meta name="geo.region" content="NZ-WKO">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="application-name" content="Jeremy Shaw Portfolio"/>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/media.css" type="text/css">

    <!-- Font and Icon CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>

</head>
<body>
    <div class="nav">
        <ul>
            <li>
                <a href="https://jeremyshaw.co.nz/">
                    <span class="icon is-small"><i class="fa fa-home"></i></span>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="https://jeremyshaw.co.nz/projects">
                    <span class="icon is-small"><i class="fa fa-laptop"></i></span>
                    <span class="nav-text">Projects</span>
                </a>
            </li>
            <li>
                <a href="https://jeremyshaw.co.nz/experience">
                    <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                    <span class="nav-text">Experience</span>
                </a>
            </li>
            <li class="nav-last">
                <a href="https://jeremyshaw.co.nz/contact">    
                    <span class="icon is-small"><i class="fa fa-phone"></i></span>
                    <span class="nav-text">Contact</span>
                </a>
            </li>
        </ul>
    </div>
 <div class='blog-container'>
    <input type="text" id="search-input" class="search" placeholder="Search..." />

    <%- body %>

    <ul class="footer">
        <a href="/privacy-policy">
            <li>Privacy Policy</li>
        </a>
    </ul>
    <div id="show-subscribe" class="button" onclick="showSubscribe()">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Subscribe
    </div>
    <div id="dark-mode" class="button dark-mode">
        <span class="icon is-small"><i class="fa fa-moon"></i></span>
        Dark Mode
    </div>
    <div id="email-box">
        <h4>Email Subscription</h4>
        <hr>
        <p id="email-box-text">Enter your email below to get blog post notifications</p>
        <input id="email-subscription" type="text">
        <div id="dismiss-button" class="button hover dismiss"><i class="fa fa-times-circle" aria-hidden="true"></i> Dismiss</div>
        <div id="subscribe-button" class="button hover right"><i class="fa fa-check-circle" aria-hidden="true"></i> Confirm</div>
    </div>
 </div>

 <script src="/js/script.js"></script>

 <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
 <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

 <script src="/js/algolia.js"></script>

</body>
</html>